@layer block {
  .confirm-dialog {
    background-color: var(--color-neutral);
    border: none;
    border-radius: var(--radius-s);
    box-shadow: 0 0 0.9375rem 0.3125rem oklch(0 0 0 / 0.25);
    color: oklch(var(--surface-l-base) var(--surface-c-base) var(--surface-h-base));
    inset: 0;
    margin: auto;
    max-inline-size: 25rem;
    padding: var(--space-m);
    position: fixed;

    &::backdrop {
      background-color: oklch(0 0 0 / 0.5);
    }
  }

  .confirm-dialog-body {
    margin-block-end: var(--space-m);
  }

  .confirm-dialog-actions {
    display: flex;
    gap: var(--space-xs);

    & > * {
      flex: 1;
    }
  }
}
