@layer templates {
  .t-app {
    display: grid;
    grid-template: var(--grid-app);
    block-size: 100dvh;
    overflow: hidden;
    inline-size: 100%;
  }

  @media (width >= 55rem) {
    .t-app {
      grid-template: var(--grid-app-wide);
    }
    .o-header {
      padding-block: var(--space-s);
      padding-inline: var(--space-m);
      justify-content: flex-start;
      gap: var(--space-m);
    }
    .o-calendar {
      padding-block: 0 20vh;
      padding-inline: 15vw var(--space-m);
    }
    .o-schedule-form {
      --grid-modal: items;
    }
  }
}
