@layer organisms {
  .o-schedule-form {
    background-color: var(--color-neutral);
    color: oklch(var(--surface-l-base) var(--surface-c-base) var(--surface-h-base));
    box-shadow: 0 0 0.9375rem 0.3125rem oklch(0 0 0 / 0.25);
    container-type: inline-size;
    container-name: schedule-form;
    grid-area: var(--grid-modal, title / title / items / items);
    overflow-y: auto;
    transform: translateY(-105%);
    transition: transform var(--duration-base) var(--ease-linear);
    z-index: var(--z-overlay);
  }
  .o-schedule-form--open {
    transform: translateY(0);
  }

  .o-schedule-form__grid {
    display: grid;
    gap: var(--space-s);
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    padding: var(--space-s);
  }
  .o-schedule-form__grid h1 {
    position: relative;
  }

  .o-schedule-form__field--full {
    grid-column: span 2;
  }
}
