@import './animations.css';
/* SCHEDULER */
.scheduler__list {
    grid-area: items / items / control / items; 
    padding: 2em;
    display: flex;
    gap: 1em;
    flex-direction: column;
    overflow-y: auto;
}

.scheduler__item {
    --scheduler-item-color: hsl(var(--hue), var(--sat), var(--bri));
    padding-left: 3em;
    position: relative;
    display: grid;
    grid-template: var(--grid-item, 'hour' 1fr 'description' 1fr / 1fr);
    opacity: 0;
    animation: add-item .5s ease-in forwards;
    animation-delay: calc(.3s * var(--scheduler-item) );
}
.scheduler__item:nth-child(3n + 1) {
    --hue: var(--p-hue);
    --sat: var(--p-sat);
    --bri: var(--p-bri);
}
.scheduler__item:nth-child(3n + 2) {
    --hue: var(--s-hue);
    --sat: var(--s-sat);
    --bri: var(--s-bri);
}
.scheduler__item:nth-child(3n + 3) {
    --hue: var(--t-hue);
    --sat: var(--t-sat);
    --bri: var(--t-bri);
}

.scheduler__item:before {
    content: '';
    width: 1em;
    height: 1em;
    left: 0;
    top: .5em; /*calc(50% - .5em);*/
    position: absolute;
    background-color: var(--scheduler-item-color);
    border-radius: 50%;
}
.scheduler__item:not(:first-child):after {
    --w-bri: 80%;
    content: '';
    height: 2.7em;
    left: .35em;
    top: calc(-50% - .8em);
    position: absolute;
    border-left: 3px solid hsl(var(--w-hue), var(--w-sat), var(--w-bri));
}

.scheduler__item h2 {
    grid-area: hour;
    color: var(--scheduler-item-color);
}

.scheduler__item span {
    --w-bri: 40%;
    color: hsl(var(--w-hue), var(--w-sat), var(--w-bri));
    grid-area: description;
}
/* SCHEDULE FORM */
.scheduler__modal {
    grid-area: title / title / items / items;
    background-color: hsl(var(--w-hue), var(--w-sat), var(--w-bri));
    transform: translateY(-105%);
    transition: .5s;
    box-shadow: 0 0 15px 5px rgba(0,0,0,.25);
    z-index: 1;
}
.modal__form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    grid-gap: 1em;
    padding: 1em;
}

.modal__form :is(textarea, input, label) {
    text-transform: capitalize;
}

.modal__form textarea { resize: none; }

.schedule__form--group {
    display: flex;
    gap: 1em;
}

.form__input--full {
    grid-column: span 2;
}

.add-btn {
    border: none;
    padding: 1em 2em;
    background-color: hsl(var(--p-hue), var(--p-sat), var(--p-bri));
    color: hsl(var(--w-hue), var(--w-sat), var(--w-bri));
    text-transform: uppercase;
    font-weight: 800;
}

.add-btn:hover { --p-bri: 30%; }
.add-btn:active { --p-bri: 80%; }


/* ADDING SCHEDULE */
.add {
    transform: translateY(0);
}
button.add {
    transform: rotate(45deg);
}
/* DAY */
.day {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background .5s;
}

.day p {
    color: hsl(var(--w-hue), var(--w-sat), var(--w-bri));
}

.day__name {
    --w-bri: 50%;
    text-align: center;
    font-size: 0em;
    text-transform: uppercase;
    color: hsl(var(--w-hue), var(--w-sat), var(--w-bri));
}
.day__name::first-letter {
    font-size: 1rem;
}
.day p {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.day__empty {
    grid-column: span var(--empty, 0);
}
/* ACTIVITY INDICATOR */

.activity p:after {
    content: '';
    position: absolute;
    width: .5em;
    height: .5em;
    bottom: 0;
    border-radius: 50%;
    background-color: hsl(var(--p-hue), var(--p-sat), var(--p-bri));
}

.actual:before {
    content: '';
    position: absolute;
    height: var(--actual, 2em);
    width: var(--actual, 2em);
    border-radius: 50%;
    border: 1px solid hsl(var(--w-hue), var(--w-sat), var(--w-bri));
}

/* BUTTON */
.scheduler__control {
    grid-area: control;
    padding: 1em;
    display: flex;
    justify-content: flex-end;
}
.add-schedule {
    --size: 2em;
    width: var(--size);
    height: var(--size);
    text-decoration: none;
    border-style: none;
    font-size: var(--size);
    border-radius: 50%;
    background-color: hsl(var(--s-hue), var(--s-sat), var(--s-bri));
    cursor: pointer;
    transition: .5s;
}
.add-schedule:hover { --s-bri: 40%; }
.add-schedule:active { --s-bri: 30%; }

/* SELECTOR TIME */
.selector__time {
    height: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.selector__time--actual {
    top: 1.3em;
    height: 1.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    position: absolute;
    overflow: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.selector__time--actual li {
    height: 1.3em;
}

@media screen and (min-width: 40rem) {
    .day-name {
        font-size: 1.12em;
    }
    .day-name::first-letter {
        font-size: inherit;
    }
    .activity p {
        --b-rad: 50%
    }
    .actual:before {
        --actual: 4em;
    }
    .add-schedule { right: unset; left: 25vw; }
}
