@import './components.css';

* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --grid-calendar: repeat(7, 1fr);
    --primary: hsl(349, 73%, 46%);
    --p-hue: 349;
    --p-sat: 73%;
    --p-bri: 46%;
    --secondary: hsl(45, 100%, 50%);
    --s-hue: 45;
    --s-sat: 100%;
    --s-bri: 50%;
    --terciary: hsl(275, 31%, 14%);
    --t-hue: 275;
    --t-sat: 31%;
    --t-bri: 14%;
    --white: hsl(0, 0%, 100%);
    --w-hue: 0;
    --w-sat: 0%;
    --w-bri: 100%;
}

main {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template: var(--grid, 'title' max-content 'calendar' 1fr 'control' 1fr / 1fr);
    overflow: hidden;
}

header {
    --t-bri: 25%;
    --bg: hsl(var(--t-hue, 0), var(--t-sat, 0%), var(--t-bri, 100%));
    font-size: 2em;
    background: var(--bg);
    padding: 1rem 2rem;
    grid-area: title;
    color: hsl(var(--w-hue), var(--w-sat), var(--w-bri));
    font-weight: 800;
    text-transform: uppercase;
}

.calendar {
    --bg: hsl(var(--t-hue, 0), var(--t-sat, 0%), var(--t-bri, 100%));
    display: grid;
    grid-area: calendar;
    grid-template-columns: var(--grid-calendar);
    grid-template-rows: min-content;
    grid-gap: 1em;
    justify-content: center;
    background: linear-gradient(0deg, var(--bg) 20%, hsl(var(--t-hue), var(--t-sat), 25%) 100%);
    padding: 1rem 2rem;
}

@media screen and (min-width: 40rem) {
    :root {
        --grid: 'control title' max-content 'control calendar' 1fr / 1fr 2fr;
    }
    header {
        padding: 1em 2em;
    }
}
